---
options:
  :user: admin
  :pass: changeme
  :url: 'http://foreman'
:port: 3000
:answers:
  :puppet: true
  :puppetmaster: true
  :foreman: true
  :foreman_proxy: true
:puppet:
:foreman:
:foreman_proxy:
:apache:
:passenger:
:tftp:
